body {
  background-color: #80d4ea;
  font-family: courier, monospace;
}

.clock {
  width: 800px;
  margin: 10px auto;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 20px 0;
  font-family: courier, monospace;
  text-align: center;
  color: #000;
  font-size: 30px;
}

.clock div {
  background-color: #000;
  color: #fff;
  display: inline;
  padding: 10px;
}

small {
  color: #f80;
}

#us-west {
  background-color: #f00;
}

#us-east {
  background-color: #888;
}

#sk-seoul {
  background-color: #008;
}

#de-berlin {
  background-color: #880;
}
